<%= render "nav" %>
<%
=begin%>
 <%= debug session[:cart]  %> 
<%
=end%>
<nav class="navbar navbar-expand-lg d-flex navbar-light bg-white shadow p-0 mb-0 bg-body rounded">
<div class="bg-dark container-fluid">
  <footer class="px-5 mt-5 pb-0" style="width:70rem">
    <div class="row">
        <h1 style="color:white"><%= @course.course_name %></h1>
        <h5 style="color:white"><%= @course.description %></h5>
        <p style="color:white">Created by <%= User.find(@course.user_id).name%></p>
    </div>
    <div class="d-flex justify-content-between py-5 my-2 border-top" style="width:65rem;">
    <h2 style="color:white">Cost-<%= @course.cost %></h2>
    <h2 style="color:white">Duration-<%= @course.duration.split()[0] %> hours</h2>
    
    </div>
  </footer>
</div>
</nav>
<% if user_signed_in?  %>
<% if (current_user.user_role.downcase =="instructor" && @course.user_id==current_user.id) %>
<h2>Description: </h2><%= @course.description %>
  <h2> Category: </h2><%= @course.category %>
  <h2> Cost: </h2><%= @course.cost %>
  <h2>Duration: </h2><%= @course.duration %>
  <h2>Instructor: </h2><%= @instructor.name %>
  <h3><%= link_to "Videos", course_videos_path(@course) %></h3>
  <ul>
    <li><%= link_to "Home", root_path%> | <%= link_to "Add Video",new_course_video_path(@course) %> | <%= link_to "Edit", enroll_course_path%> |<%= link_to "Delete", course_path(@course),
                  method: :delete,
                  data: { confirm: "Are you sure" } %> 
  </ul>

<% else %>
 <% if @reqcourse.include? @course.id %>
<h2>Description: </h2><%= @course.description %>
  <h2> Category: </h2><%= @course.category %>
  <h2> Cost: </h2><%= @course.cost %>
  <h2>Duration: </h2><%= @course.duration %>
  <h2>Instructor: </h2><%= @instructor.name %>
 <h3><%= link_to "Videos", course_videos_path(@course) %></h3>
  <ul>
    <li><%= link_to "Home", root_path%></li>
  </ul>
 <% else %>
 <h2>Description: </h2><%= @course.description %>
  <h2> Category: </h2><%= @course.category %>
  <h2> Cost: </h2><%= @course.cost %>
  <h2>Duration: </h2><%= @course.duration %>
  <h2>Instructor: </h2><%= @instructor.name %>
  <ul>
    <li><%= link_to "Home", root_path%> | <%= link_to "Enroll", enroll_course_path%> | <% if @cart.include?(@course) %>
     <%= link_to "Go to Cart",carts_show_path%>
    <% else %> 
    <%= link_to "Add to Cart", add_to_cart_path(@course.id), method: :post %>
    <% end %>
<%
=begin%>
     
    <%= button_to "Add #{@course.name} to cart", restaurant_product_line_items_path(:course_id => @course.id) %> 
<%
=end%>
  </ul>
 <% end %> 
 <% end %>
<% else %>
<h2>Description: </h2><%= @course.description %>
<h2> Category: </h2><%= @course.category %>
<h2> Cost: </h2><%= @course.cost %>
<h2>Duration: </h2><%= @course.duration %>
<h2>Instructor: </h2><%= @instructor.name %>
<%
=begin%>
 <ul>
  <li><%= link_to "Edit", edit_course_path(@course) %> | <%= link_to "Home", root_path%> | <%= link_to "Delete", course_path(@course),
                  method: :delete,
                  data: { confirm: "Are you sure" } %> 
                   </li>
</ul> 
<%
=end%>
<%
=begin%>
 <h2>Add Videos</h2>
<%= render "videos/form"%> 
<%
=end%>
<% end %>
<%= render "foot" %>